{% include 'navbar.html' %}
{% load static %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="about-section">
  <h1>About Us</h1>
  <p>This is Simple Enotes Management System Develop by ABC, XYZ. using Python Django, HTML, CSS, Bootstrp and sqlite.</p>
  <p>This project anytime anywhere remember all queries of students Motivate peoples to use. Easy to use: E-Notes Project is very easy to use.</p>
</div>
<br><br>
<h2 style="text-align:center">Our Team</h2>
<div class="row offset-3">
  <div class="column">
    <div class="card">
      <img src="{% static 'images/t2.jpg' %}" alt="Pankaj Panjwani" style="border-radius: 50%;">
      <div class="container">
        <h2>Pankaj Panwani</h2>
        <p class="title">CEO & Founder</p>
        <p>A chief executive officer (CEO) is the highest-ranking executive of a firm. CEOs act as the company's public face and make major corporate decisions.</p>
        <p>abc@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{% static 'images/avatar-5.png' %}" alt="Abhi" style="border-radius: 50%;">
      <div class="container">
        <h2>Abhishek Pandey</h2>
        <p class="title">Software Developer</p>
        <p>The role of a software developer engages in identifying, designing, installing and testing a software system they have built for a company from the ground.</p>
        <p>abhi@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>



